{% extends "base.html" %}
{% load static %}

{% block body %}
        <!-- main body end -->
        <main>

            <!-- page title start -->
            <section class="page_title_area" data-background="{% static 'assets/img/bg/page_title.jpg' %}">
                <div class="container">
                   <div class="row">
                       <div class="col-lg-8">
                            <div class="page_title">
                                <h1>Asking Question</h1>
                                <ul class="breadcrumb_nav ul_li">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li>F.A.Q</li>
                                </ul>
                            </div>
                       </div>
                       <div class="col-lg-4">
                           <div class="page_title_img">
                               <img src="{% static 'assets/img/bg/page_title_img.png' %}" alt="">
                           </div>
                       </div>
                   </div>
                </div>
                <div class="breadcrumb_icon_wrap">
                    <div class="container">
                        <div class="breadcrumb_icon">
                            <img src="{% static 'assets/img/icon/bc_icon.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title end -->

            <!-- faq start -->
            <section class="faq_area pt-120 pb-120">
                <div class="container">
                    <div class="faq_bg">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="faq_wrapper mb-30">
                                    <ul class="accordion-box clearfix">
                                        <li class="accordion block">
                                            <div class="acc-btn">
                                                How does this work?
                                            </div>
                                            <div class="acc-content">
                                                <p>Simply put, we deliver your favourite menu from fast-food restaurant of choice. Our platform enables you to enter your postcode and select a nearby restaurant of choice e.g McDonalds, KFC, …Wagamama e.t.c for delivery. Within each of these restaurants you will find their menus which you can add to basket, choose your payment method (PayPal applicable</p>
                                            </div>
                                        </li>
                                        <li class="accordion block active-block">
                                            <div class="acc-btn">
                                                Some menus are missing on a restaurant page?
                                            </div>
                                            <div class="acc-content current">
                                                <p>Simply put, we deliver your favourite menu from fast-food restaurant of choice. Our platform enables you to enter your postcode and select a nearby restaurant of choice e.g McDonalds, KFC, …Wagamama e.t.c for delivery. Within each of these restaurants you will find their menus which you can add to basket, choose your payment method (PayPal applicable</p>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">
                                                Do any of your cheeses contain enzymes derived from animal sources?
                                            </div>
                                            <div class="acc-content">
                                                <p>Simply put, we deliver your favourite menu from fast-food restaurant of choice. Our platform enables you to enter your postcode and select a nearby restaurant of choice e.g McDonalds, KFC, …Wagamama e.t.c for delivery. Within each of these restaurants you will find their menus which you can add to basket, choose your payment method (PayPal applicable</p>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">
                                                Are your menu prices the same as those at the restaurant?
                                            </div>
                                            <div class="acc-content">
                                                <p>Simply put, we deliver your favourite menu from fast-food restaurant of choice. Our platform enables you to enter your postcode and select a nearby restaurant of choice e.g McDonalds, KFC, …Wagamama e.t.c for delivery. Within each of these restaurants you will find their menus which you can add to basket, choose your payment method (PayPal applicable</p>
                                            </div>
                                        </li>
                                        <li class="accordion block">
                                            <div class="acc-btn">
                                                Are your doughs vegan or vegetarian friendly?
                                            </div>
                                            <div class="acc-content">
                                                <p>Simply put, we deliver your favourite menu from fast-food restaurant of choice. Our platform enables you to enter your postcode and select a nearby restaurant of choice e.g McDonalds, KFC, …Wagamama e.t.c for delivery. Within each of these restaurants you will find their menus which you can add to basket, choose your payment method (PayPal applicable</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="faq_img">
                                    <img src="{% static 'assets/img/bg/faq_img.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- faq end -->

            <!-- brand start -->
            <section class="brand_area white_bg">
                <div class="container-fluid">
                    <div class="row g-0 justify-content-center">
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_01.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_02.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_03.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_04.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_05.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_06.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- brand end -->
        </main>
        <!-- main body end -->
   
{% endblock body %}