{% extends "base.html" %}
{% load static %}
{% block body %}
        <main>

            <!-- page title start -->
            <section class="page_title_area" data-background="{% static 'assets/img/bg/page_title.jpg' %}">
                <div class="container">
                   <div class="row">
                       <div class="col-lg-8">
                            <div class="page_title">
                                <h1>Product Details</h1>
                                <ul class="breadcrumb_nav ul_li">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li>{{ product.name }}</li>
                                </ul>
                            </div>
                       </div>
                       <div class="col-lg-4">
                           <div class="page_title_img">
                               <img src="{% static 'assets/img/bg/page_title_img.png' %}" alt="">
                           </div>
                       </div>
                   </div>
                </div>
                <div class="breadcrumb_icon_wrap">
                    <div class="container">
                        <div class="breadcrumb_icon">
                            <img src="{% static 'assets/img/icon/bc_icon.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title end -->

            <!-- shop details start -->
            <section class="shop_details pt-120 pb-90">
                <div class="container">
                    <div class="product_top_wrap mb-60">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="product_wrap mb-30">
                                    <div class="product_details_img ">
                                        <div class="tab-content" id="myTabContent">
                                            {% for image in product.images.all %}
                                                {% if image == product.images.first %}
                                                    <div class="tab-pane fade show active" id="image{{ i.id }}" role="tabpanel"
                                                    aria-labelledby="image{{ i.id }}-tab">
                                                    <div class="pl_thumb">
                                                        <img src="{{ image.image.url }}" alt="{{ image.name }}">
                                                    </div>
                                                </div>
                                                {% else %}
                                                    <div class="tab-pane fade" id="image{{ i.id }}" role="tabpanel"
                                                    aria-labelledby="image{{ i.id }}-tab">
                                                    <div class="pl_thumb">
                                                        <img src="{{ image.image.url }}" alt="{{ image.name }}">
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="shop_thumb_tab">
                                        <ul class="nav" id="myTab2" role="tablist">
                                            {% for image in product.images.all %}
                                                {% if image == product.images.first %}
                                                    <li class="nav-item">
                                                        <button class="nav-link active" id="image{{ i.id }}-tab" data-bs-toggle="tab"
                                                            data-bs-target="#image{{ i.id }}" type="button" role="tab" aria-controls="image{{ i.id }}"
                                                            aria-selected="true"><img src="{{ image.image.url }}" alt="{{ image.name }}">
                                                        </button>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item">
                                                        <button class="nav-link" id="image{{ i.id }}-tab" data-bs-toggle="tab"
                                                            data-bs-target="#image{{ i.id }}" type="button" role="tab" aria-controls="image{{ i.id }}"
                                                            aria-selected="true"><img src="{{ image.image.url }}" alt="{{ image.name }}">
                                                        </button>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% for i in product_details %}
                            <div class="col-lg-6 col-md-12">
                                <div class="details_content mb-30">
                                    <h3 class="title">{{ i.products.name }}</h3>
                                    <p>{{ i.products.description }}</p>
                                    <ul class="pl_list">
                                        <li>{{ i.products.motto }}</li>
                                    </ul>
                                    {% if i.products.discount %}
                                        <h4 class="price"><strong>${{ i.products.discount }}</strong></h4>
                                    {% else %}
                                        <h4 class="price"><strong>${{ i.products.price }}</strong></h4>
                                    {% endif %}
                                    <div class="review_wrap ul_li">
                                        <ul class="review ul_li">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fal fa-star"></i></li>
                                            <li><i class="fal fa-star"></i></li>
                                        </ul>
                                        <div class="text">
                                            <span>{{ i.products.review.count }}</span>
                                        </div>
                                    </div>
                                    <ul class="btns_group ul_li">
                                        <li>
                                            <div class="quantity_input quantity_boxed">
                                                <h4 class="quantity_title">Quantity</h4>
                                                <div class="cart-plus-minus">
                                                    <div class="dec qtybutton">-</div>
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                    <div class="inc qtybutton">+</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a class="thm_btn thm_btn-black" href="{% url 'cart' %}">Add To Cart</a></li>
                                    </ul>
                                    <div class="details_share_links">
                                        <h4 class="list_title"><i class="fal fa-share"></i> Share</h4>
                                        <div class="social_links">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-youtube"></i></a>
                                            <a href="#"><i class="fab fa-behance"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                    {% endfor %}
                    </div>
                    <div class="product_info_wrap mb-50">
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-pills product_info" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-home" type="button" role="tab"
                                            aria-controls="pills-home" aria-selected="true">Product Details</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-profile" type="button" role="tab"
                                            aria-controls="pills-profile" aria-selected="false"> Additionnal Imformation</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-contact" type="button" role="tab"
                                            aria-controls="pills-contact" aria-selected="false">Review (3)</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="info_wrap">
                                            <p>Rrem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="info_wrap">
                                            <div class="table-responsive">
                                                <h3 class="title">Additional information</h3>
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Weight</th>
                                                            <td class="product_weight">1.4 oz</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Dimensions</th>
                                                            <td class="product_dimensions">62 × 56 × 12 in</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Size</th>
                                                            <td class="product_dimensions">XL, XXL, LG, SM, MD</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                        <div class="info_wrap">
                                            <p>Rrem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cint explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,</p>
                                            <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididulabore et doloreey.consectetur adipisicing elit, sed do eiusmod temporRorem ipsum doloadipisicing elit, sed do eiusmod tempor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="releted_product">
                        <div class="sec_title sec_title-2">
                            <h2>Related products</h2>
                        </div>
                        <div class="row justify-content-center">
                             {% for product in products %}
                                 <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
                                            <div class="shop_single white_bg">
                                                <div class="thumb text-center">
                                                    <a class="image" href="{% url 'shop-details' product.name %}"><img src="{{ product.images.first.image.url }}" alt="{{ product.images.first.name }}"></a>
                                                    <div class="actions">
                                                        <a href="#" class="action"><i class="fal fa-shopping-basket"></i></a>
                                                        <a href="#" class="action"><i class="fal fa-heart"></i></a>
                                                        <a href="#" class="action"><i class="fal fa-eye"></i></a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="s_top ul_li">
                                                        <span class="cat">Full Burgar</span>
                                                        <ul class="rating_star ul_li">
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fal fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="title"><a href="{% url 'shop-details' product.name %}">Double Stuck Burgar</a></h3>
                                                    <div class="s_bottom ul_li">
                                                        <span>Price -</span>
                                                        <span class="new">$33.00</span>
                                                        <span class="old">$45.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                             {% endfor %}
                         </div>
                    </div>
                </div>
            </section>
            <!-- shop details end -->


            <!-- brand start -->
            <section class="brand_area white_bg">
                <div class="container-fluid">
                    <div class="row g-0 justify-content-center">
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_01.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_02.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_03.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_04.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_05.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 b_border">
                            <div class="brand_img">
                                <img src="{% static 'assets/img/brand/brand_06.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- brand end -->
        </main>
        <!-- main body end -->
{% endblock body %}